/* NAVBAR */

.logo{
    width: 85px;
}

.navbar-toggler-icon{
    width: 20px;
    margin-right: 5px;
}

.Host{
    font-size: 13px;
}

.fa-globe{
    width: 6px;
}


#logo img {
    width: 250px;
    height: 100px;
}

section {

    margin-bottom: 7rem;
}


.carousel-item h1 {

    position: absolute;
    z-index: 1;
    font-size: 45px;
    animation-name: anima-testo;
    animation-duration: 1s;
}

@keyframes anima-testo {

    0% {
        transform: translateX(-2000px);
        scale: 0;
    }
}

.carousel-item button {

    position: absolute;
    z-index: 1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    top: 60px;
    border-radius: 20px;
    border: white;
    font-size: 18px;
    background-color: #FF5A60;
    color: white;
    transition: all 0.5s linear;
}

.carousel-item button:hover {

    cursor: pointer;
    opacity: 0.5;
    color: black;
    border: 2px solid black;
}

.carousel-item img {

    border-radius: 10px;
}

.carousel-item h5 {
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    height: 50px;
    font-size: 30px;
    width: 150px;


}


.carousel-caption {

    display: flex;
    justify-content: center;
    position: absolute;

}

.carousel-caption a {
    text-decoration: none;
}



.card {
    margin-top: 5rem;
}



.img-carousel {
    height: 250px;
    overflow: hidden;
    object-fit: fill;
}

.carousel-indicators {

    margin-left: 0px;
}

@media (max-width: 450px) {

    .carousel-item h1 {
        font-size: 26px;
    }

    .carousel-item button {
        font-size: 13px;
        top: 32px;
    }

    .carousel-caption {
        height: 70px;
        align-items: center;

    }

    .carousel-caption h5 {
        font-size: 18px;
        height: fit-content;
        width: 100px;
    }

}

@media (min-width: 451px) and (max-width: 768px) {

    .carousel-item h1 {
        font-size: 35px;
    }

    .carousel-item button {
        font-size: 16px;
        top: 44px;
    }

    .carousel-caption {
        height: 70px;
        align-items: center;

    }

    .carousel-caption h5 {
        font-size: 28px;
        height: fit-content;
        width: 130px;
    }


}